header, footer{
    background-color: #769b12;
}

.btn{
    color: white;
    background-color: #00649c;
}

.btn:hover{
    color: white;
    background-color: #185397;
}

.btn.indexlogin{ /*indexlogin ist der button im index html welcher anders aussieht*/
    color: #00649c;
    background-color: white;
    border: 1px solid #00649c;
}

.indexlogin:hover {
  color: white;
  background-color: #00649c;
}

footer a{
    text-decoration: none;
    color: white;
}

.btn{
    font-weight:bold;
}

h1,h2,h3{
    font-weight: bolder;
}
h2 {
    color: #333;
    margin-top: 30px;
}
nav, nav.navbar{
    background-color: #769b12;
}

/*----------campus map------------*/
.campusmapbtn{
  background-color: #e7eed9;
  color: #769b12;
}

/*----------rooms------------*/
.floorbtnbar{
  background-color: #c8dba1;
}

.actvbtn{
  background-color: #769b12;
}

.roombar{
  background-color: rgb(187, 187, 187);
}

.bg-tag {
  background-color: rgb(233, 231, 231);
  color: black;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: bold;
}
/*-----rooms info widget---------*/
.room-widget {
  background-color: white;
  border: 2px solid #000;
  border-radius: 16px;
}

/*startbutton*/
.studysessionstart {
  background-color: #e7eed9;
}



/* Room Header */
.text-room {
  color: #769b12;
}
.room-bar {
  height: 5px;
  width: 80%;
  background-color: #769b12;
  border-radius: 10px;
}

/* Userlist */
.room-userlist {
  background-color: #e7eed9;
  overflow-y: auto;
  max-height: 180px;
}

.room-user {
  border: 2px solid #000;
  background-color: #f9faf7;
}

.profile-pic {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #aaa;
  object-fit: cover;
}

.subject-tag {
  background-color: #769b12;
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Input */
#subject {
  border: 2px solid #000;
}

/* Study session panels */
.study-session {
  border: 2px solid #000;
  background-color: #f9faf7;
}

/* Toggles */
.toggle-on, .toggle-off {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.toggle-on {
  background-color: #769b12;
}

.toggle-off {
  background-color: #e34c26;
}

.room-widget {
  transform: scale(0.6);
  transform-origin: top center;
  max-width: 400px;
  height: 60vh;
}

/*----------dashboard------------*/
.status-dot {
  width: 12px;
  height: 12px;
  background-color: #769b12;
  border-radius: 50%;
  display: inline-block;
}

/* Section Container */
.course-section {
  background-color: #e7eed9;
  border-radius: 10px;
}

/* User Entry */
.user-entry {
  border: 2px solid #000;
  background-color: #f9faf7;
}

/* Profile Picture */
.profile-pic {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #aaa;
}

/* Subject Tag */
.subject-tag {
  background-color: #769b12;
  color: white;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

